.modal {
  padding-top: 100px;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: rgba(0,0,0,0.4);
  transition: 0.5s;
  &--active {
    opacity: 1;
    pointer-events: auto;
  }
}

.modal-content {
  padding: 10px;
  max-width: 1200px;
  background: #fff;
  transform: scale(0);
  transition: 0.5s;
  &--active {
    transform: scale(1);
  }
}

.modal-title {
  text-align: center;
}