.table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
  background: #262626;
  color: #fff;

  th, td {
    padding: 5px;
    border: 1px solid black;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    word-break: break-all;
  }

  tbody {
    tr {
      &:hover {
        background: brown;
      }
    }
  }

}